<div>
  <h1>Welcome Back</h1>
  <h3>Login Here</h3>

  <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
    <!-- Username -->
    <div>
      <label for="username">Email</label>
      <input
        type="text"
        name="username"
        [(ngModel)]="form.username"
        required
        #username="ngModel"
      />
    </div>

    <!-- Password -->
    <div>
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        [(ngModel)]="form.password"
        required
        #password="ngModel"
      />
    </div>

    <!-- Submit button -->
    <button type="submit">Submit</button>
  </form>
</div>
